<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Chào mừng đến với trang quản trị dự án website bất động sản</h2>
            <p>
                Chào bạn! Đây là trang quản trị dự án Công nghệ Phần mềm của nhóm tám.
                Trang web này được xây dựng để thực hiện các chức năng quản lý và điều hành
                dự án trong một môi trường trực quan và dễ sử dụng.
            </p>
            <p>
                Dưới đây là một số chức năng chính của trang web:
                <ul>
                    <li>Quản lý thông tin dự án</li>
                    <li>Cập nhật trạng thái dự án</li>
                    <li>Quản lý người dùng </li>
                    <li>Quản lý môi giới </li>
                    <li>Quản lý hợp đồng giao dịch </li>
                    <li>Quản lý hợp đồng chiết khấu </li>
                    <li>Quản lý hợp đồng chat trực tuyến </li>
                    <!-- Thêm các chức năng khác tùy theo dự án -->
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Lời cảm ơn</h2>
            <p>
                Chúng em xin gửi lời cảm ơn chân thành tới giáo viên hướng dẫn cô Phan Thị Ngọc Hân đã luôn hỗ trợ và
                hướng dẫn chúng tôi trong quá trình thực hiện dự án. Sự sáng tạo và kiến thức của
                quý thầy/cô đã giúp chúng tôi hoàn thành dự án một cách thành công và hiệu quả.
            </p>
        </div>
    </div>
</div>